.st1{
  padding-top: 50px;
  .st2{
    background-color: lightskyblue;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    height: 40px;
  }
  .st3{
    display: block;
    margin-top: 10px;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    outline: none;

  }
}
