.st1{
  padding-top: 60px;
  .st2{
    display: flex;
    justify-content: flex-end;
  }
  .st3{
    text-align: center;
    aside{
      font-size: 20px;
      color: #31d2f2;
    }
  }
  .st4{
    color: white;
    background: rosybrown;
    width: 80%;
    margin: 15px auto;
    box-sizing: border-box;
  }
}
