.st1{
  padding-top: 60px;
  .st2{
    position: fixed;
    top:0;
    width:100%;
    background: #0a53be;
    color: white;
  }
  .st3{
    text-align: center;
    aside{
      font-size: 20px;
      color: #31d2f2;
    }
  }
  .st4{
    color: white;
    background: rosybrown;
    width: 80%;
    margin: 15px auto;
    box-sizing: border-box;
  }
}
